*{
    box-sizing: border-box;
    color:rgb(34, 38, 38);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
}

.container{
    background-color: rgb(181, 223, 221); 
    border: solid 1px rgb(130, 133, 134);
    margin:5% 20%;
    display: inline-block;
    height: fit-content;
    width:45%;
}

h1{
    color: rgb(133, 32, 32);
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    display: inline-block;
    width: 100%;
    
}

#erand{
    border:none;
    width:60%;
    padding: 7px;
    margin-left: 30px;
  
}

#submit{
    background-color: rgb(244, 238, 244);
    border:solid 1px  rgb(160, 162, 161); 
    font-size: large;
    color:  rgb(133, 32, 32) ;
    width: 20%;
    padding: 3px;
    font-weight: 60px;
}

#output{
   
    display:inline-block;
    margin:0 ;
     
}

.list{
    display: inline-block;
    position:relative;
    background-color: rgb(244, 238, 244);
    margin:0 27px;
    margin-bottom:3px;
    width: 90%;
    
  
 }

input.checkbox {
    position:relative;
   
    display: inline-block;
 
 }  

.task{
    list-style: none;
    position: relative;
    display:block;
  
  }

p.text{
      color: rgb(82, 81, 81);
      display: inline;
      margin-right:90px;
     margin-left:70px

  }

.btn{
    margin: 5px;
  
    border: 1px solid grey;
    border-top-color: rgb(248, 242, 242) 5px solid;
    width: 30px;
    height:30px;
    position: relative; 
    
}

.clear{
   color: rgb(133, 32, 32);
   padding-top: 3px;
   cursor: pointer;
   font-size:large;
  
  
 } 

 #btn{
    border-radius: 20%;
    border-top-color: rgb(242, 239, 239) 5px solid;
    display:inline-block;
    position:initial;
    align-items: center;
   
 }

#reset{
    background-color:  rgb(133, 32, 32);
    border:solid 1px rgb(181, 182, 182);
    color:white;
    font-size:large;
    border-radius:10%;
    padding:5px 10px;
    display:inline-block ;
    align-items: center;
    margin:20% 40%;
  
}
