*{
    box-sizing: border-box;
    color:rgb(34, 38, 38);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
}

.container{
    background-color: rgb(181, 223, 221); 
    border: solid 1px rgb(130, 133, 134);
    margin:5% 40%;
    display: inline-block;
    height: fit-content;
}

h1{
    color: rgb(133, 32, 32);
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    display: inline-block;
    width: 100%;
    
}

#erand{
    border:none;
    width: 60%;
    padding: 7px;
    margin-left: 30px;
  
}

#submit{
    background-color: rgb(244, 238, 244);
    border:solid 1px  rgb(160, 162, 161); 
    font-size: large;
    color:  rgb(133, 32, 32) ;
    width: 20%;
    padding: 3px;
    font-weight: 60px;
    
}

 #output{
    width:100%;
    display:inline-block;
    margin:0 13px;
   
   
}

.list{
   
    display: inline-flex;
    position:relative;
    background-color: rgb(244, 238, 244);
    margin:0  15px;
    margin-bottom:3px;

}
.list:hover{
    cursor:default;
    color: rgb(160, 190, 190);
   
}

#checkbox {
  position: absolute;
  margin-top:13px;
  margin-left: 10px;
  width:20px ;
  height: 20px;
   
 }  

.task{
    list-style: none;
    width: 150px;
    margin :15px 20px;
    text-align: center;
    display:inline-block;
  
  }

.btn{
    margin:7px;
    border: 1px solid grey;
    border-top-color: rgb(248, 242, 242) 5px solid;
    width: 30px;
    height:30px;
   display: inline-block;
   
    
}

.clear{
   color: rgb(133, 32, 32);
   display: inline-block;
   padding-top: 3px;
   cursor: pointer;
   font-size:large;
 
  
 } 

 #btn{
    border-radius: 20%;
    border-top-color: rgb(170, 168, 168) 5px solid;
    display:inline-block ;
    position:initial;
    align-items: center;
   
 }

#reset{
    background-color:  rgb(133, 32, 32);
    border:solid 1px rgb(181, 182, 182);
    color:white;
    font-size:large;
    border-radius:10%;
    padding:5px 10px;
    display:inline-block ;
    align-items: center;
    margin:20% 40%;
  
}
